<div class="container">

  <div class="lobby-header row">

    <span class="col-2"> Lobby </span>
    <span class="col"></span>
    <a id="lobbyRefreshButton" class="col-2 btn btn-success mr-3" href="">Refresh</a>
    <a id="createRoomButton" class="col-2 btn btn-primary" href="">Create Room</a>

  </div>

  <div class="row">

    <div class="col-9 room-container">
      <ul>
        {{#each gameRoom as | room |}}
            <li class="room-item"> Room <span id="roomNum">{{room.id}}</span> - Player 1: {{#if room.player1}} {{room.player1}} {{else}} <button id="joinPlayer1Button" class="btn btn-primary">Join</button> {{/if}} ---------- 
                                    Player 2: {{#if room.player2}} {{room.player2}} {{else}} <button id="joinPlayer2Button" class="btn btn-primary">Join</button> {{/if}}</li>
        {{/each}}
      </ul>
    </div>

    <div id="user-list" class="col-3 user-list-container">

    </div>

  </div>

  <div class="row">
  
    <div id="chat-box" class="col chat-container">
    </div>
  
    <input class="form-control" type="text" id="message" placeholder="Enter Message"></input><button class="btn btn-primary" id="message-send">Send</button>

  </div>


</div>
<script src="js/socket.io.js"></script>
<script>

  let socket = io('http://138.197.217.228:3000/')
  let messageSend = document.getElementById('message-send');
  let username = '{{session.username}}';

  //Load Users onto list
  socket.emit('lobby-connect', {

    username:username,

  })

  socket.on('load-users', (data)=>{
    if(data.users){
      let userList = document.getElementById('user-list');
      userList.innerHTML = '';
      data.users.forEach((user)=>{

        let username = document.createElement('div');
        username.innerHTML = user.username;

        userList.append(username);
      })
    }
  })

  //Send message on click Send
  messageSend.addEventListener('click', (e)=>{
    e.preventDefault();

    let message = document.getElementById('message').value;

    socket.emit('message-send', {
      username: username,
      message: message,
    })

    document.getElementById('message').value = '';
  })

  //Put message on chat box
  socket.on('message-sent', (data)=>{
    let chatBox = document.getElementById('chat-box');
    let message = document.createElement('div');
    message.innerHTML = data.username + ": " + data.message;

    chatBox.appendChild(message);

    chatBox.scrollTop = chatBox.scrollHeight;
  })



  lobbyRefreshButton.addEventListener('click', (e)=>{
    e.preventDefault();

    fetch('/lobby', {
      credentials: 'include',
    });
  });

</script>
